<div class="container">
    <div class="row" style="margin-top: 10%; margin-bottom: 10%;">
        <div class="col-md-6 offset-3">
            <h1>Wellcome to de admin Dashboard here you customize things from the website, like:</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 30%;">
        <div class="col-md-8 offset-2">
            <ol>
                <li><h4><%= link_to edit_text_path do%>Customize de homepage texts <%end%></h4></li>
                <li><h4><%= link_to videos_path(page: 1) do%>Upload youtube videos to the blog<%end%></h4></li>
                <li><h4><%= link_to courses_path do%>Manage classes <%end%></h4></li>
                <li><h4><%= link_to agenda_path do%>Manage agenda<%end%></h4></li>
            </ol>
        </div>
    </div>
</div>
