<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new message has been sent</h1>
    <p>
      name: <%= @name %>.
    </p>
    <p>
      email: <%= @email %>.
    </p>
    <p><%= @message %></p>
  </body>
</html>