// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.course-name {
    text-align: center;
}

.course-description {
    text-align: center;
}

.course-btn {}

.no-courses {
    text-align: center;
}

.courses-container {
    margin-top: 10%;
    margin-bottom: 30%;
}